.palindrome {
  color: white;
  background-color: blue;
  font-size: large;
}
/*TODO: Implementa el estilo notPalindrome */
.notPalindrome{
  color: white;
  background-color: purple;
  font-size: large;
}